@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spinBack {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  position: relative;
  font-family: Heebo;
}

.phone {
  width: 100%;
  height: 100%;
  background: #efebde;
  overflow-y: scroll;
  overflow-x: hidden;
}

.phone__header {
  width: 23em;
  height: 5em;
  background: #7bb2d6;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  overflow-x: hidden;
}
.phone__header h3 {
  font-size: 1em;
  margin: 0;
}
.phone__header span {
  font-size: 1.3em;
  font-weight: lighter;
  cursor: pointer;
}

.phone-content__wrapper {
  padding: 0.5em;
  margin-top: 5em;
}

.phone-content {
  background: white;
  border-radius: 10px;
  margin-bottom: 1em;
  height: 15em;
  cursor: pointer;
  transition: height 0.2s;
}
.phone-content.active {
  top: 0;
  width: 100%;
  height: 30em;
}
.phone-content.active .phone-content__hero {
  width: auto;
}

.phone-content__hero {
  width: 100%;
  height: 10em;
  background: #94d7bd;
  border-radius: 10px 10px 0px 0px;
}
.phone-content__hero.blue {
  background: #b5cbde;
}
.phone-content__hero.yellow {
  background: #efdb84;
}
.phone-content__hero.red {
  background: #e69ea9;
}

.phone-content__footer {
  height: 4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em;
  flex-wrap: wrap;
}

.phone-content__circle {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  background: #efebde;
}

.phone-content__line {
  width: 12em;
  height: 0.75em;
  background: #efebde;
  border-radius: 10px;
  margin-left: 1em;
  margin-bottom: 0.5em;
  margin: 0.5em 0 0.5em 1em;
}

.phone-content__line--two {
  width: 8em;
}

.inner-content {
  width: 100%;
  text-align: center;
}

.inner-content__square {
  height: 10em;
  width: 10em;
  margin: 1em auto;
  background: #efebde;
  animation: fadeInUp 0.75s;
}

.help {
  height: 3.5em;
  width: 3.5em;
  background: #d66173;
  border-radius: 50%;
  position: fixed;
  top: 90%;
  margin-left: 18em;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.help span {
  font-size: 2em;
  text-shadow: 2px 3px 3px #cb394f;
  animation: spinBack 0.5s linear forwards;
}
.help span.active {
  animation: spin 0.4s linear forwards;
}

.help--small {
  background: #e18997;
  top: 90% !important;
  margin-left: 18em !important;
  transition: 0.2s;
}
.help--small span {
  font-size: 1.5em;
}

.help--small-1 {
  top: 83%;
  margin-left: 15.5em;
  height: 2.5em;
  width: 2.5em;
  transition: 0.2s;
}
.help--small-1 span {
  font-size: 1.5em;
  color: white;
}

.help--small-2 {
  margin-left: 14em;
  height: 2.5em;
  width: 2.5em;
  transition: 0.2s;
  transition-delay: 0.2s;
  top: 89%;
}
.help--small-2 span {
  font-size: 1.5em;
  color: white;
}

.help--small-3 {
  top: 96%;
  margin-left: 15em;
  height: 2.5em;
  width: 2.5em;
  transition: 0.2s;
  transition-delay: 0.1s;
}
.help--small-3 span {
  font-size: 1.5em;
  color: white;
}

.sidebar {
  height: 100%;
  width: 10em;
  background: #333;
  z-index: 10;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.2s;
  display: flex;
  justify-content: center;
}
.sidebar.active {
  transform: translateX(0%);
}

.sidebar__content-container {
  text-align: center;
}

.sidebar__circle {
  height: 5em;
  width: 5em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/377560/11303439.jpg) no-repeat center center/cover;
  background-size: cover;
  border: 4px solid lightgray;
  border-radius: 50%;
  animation: fadeInLeft 0.8s;
  margin-top: 1em;
  box-shadow: 2px 2px 4px;
}
