.phone_brighter {
    max-width: 36em;
    width: 100%;
    height: 100vh;
    background: #f3f3f3;
    overflow-y: scroll;
    overflow-x: hidden;
}
.profile_avatar {
    position: relative;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    height: 5.5em;
    width: 5.5em;
    border-radius: 50%;
    border: 0.1em solid #f3f6f7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.profile_details {
    top: 5em;
    padding: 1.5em 2.5em;
}

.details_title {
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    color: #8A94AF;
}

.profile_chip {
    margin: 0.2em 0.1em;
}

.interest_add {
    position: relative;
    left: 10.2em;
    top: -1.3em;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    color: white;
    background-color: #8A94AF;
    text-align: center;
}

.skill_add {
    position: relative;
    left: 4em;
    top: -1.4em;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    color: white;
    background-color: #8A94AF;
    text-align: center;
}

.view_my_card {
    position: absolute;
    right: 30%;
    bottom: 11%;
    box-sizing: border-box;
    width: 100px;
}

.view_my_card_button {
    right: 28%;
    border: none;
    border-radius: 4px;
    width: 115px;
    height: 48px;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 500;
    outline: none;
    background-image: url('../img/card_pattern.jpg');
    background-size: 140px 290px;
}