.card-content {
  background: white;
  border-radius: 10px;
  margin-bottom: 1em;
  height: 12em;
  cursor: pointer;
  transition: height 0.2s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-image: url('./img/card_pattern.jpg');
  background-repeat: no-repeat;
  background-size: 140px 290px;
}

.card-content.active {
  top: 0;
  width: 100%;
  height: 27em;
}

.card-content.active .card-content__hero {
  width: auto;
}

.card-content.active .arrow-down {
  opacity: 0;
}

.card-content__main{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 1.4em;
  flex-wrap: wrap;
}

.card-content__circle {
  height: 6.5em;
  width: 6.5em;
  border-radius: 50%;
  background: #efebde;
}

.card-content__line-wrapper {
  text-align: center;
  padding-left: 1em;
}

.card-content__line--name {
  font-size: 1.9em;
  font-style: italic;
  font-weight: bold;
  color: #8A94AF;
  margin-bottom: 0.2em;

}

.card-content__line--sub {
  font-size: 0.8em;
  line-height: 1.5;
}

.arrow-down {
  position: absolute;
  left: 49%;
  bottom: 0;
  color: #91A8D3;
  transition: opacity 0.3s;
}

.arrow-up {
  position: absolute;
  left: 49%;
  bottom: -11%;
  color: #91A8D3;
}

.inner-content {
  width: 60%;
  padding: 0.2em 2.5em;
}

.inner-content-wrapper {
  padding: 1em 0.5em;
  font-size: 0.8em;
}

.inner-content__title {
  padding-bottom: 0.3em;
  font-style: italic;
  font-weight: bold;
}

.inner-content__details {
  padding-left: 1em;
  line-height: 1.5;
}

.sayhi_button {
    position: absolute;
    right: 6%;
    bottom: 8%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    width: 92px;
    height: 48px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    outline: none;
    transition: box-shadow 0.2s;
    background-image: url('./img/card_pattern.jpg');
    background-size: 140px 290px;
}

/* button - Ripple */
.sayhi_button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

.sayhi_button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.sayhi_button:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

